.productCard{
	padding-top: 10px;
	padding-left: 10px;
	background-color: white;
	border-radius: 30px;
	width: 260px;
	height: 412px;
	margin-top: 1rem;
	text-align: left;
}


.imgOfProduct{
	width: 249px;
	height: 220px;
	border-radius: 30px;
}


.nameOfProduct{
	color: #492DBB;
	cursor: pointer;
	height: 45px !important;
	font-size: 21px;
}


.fastView{
	position: absolute;
	margin-top: -75px;
	margin-left: 8px;
	margin-bottom: 30px;
}


.actions{
	margin-top: 40px;
}


@media (max-width: 910px) {
	.fastView{
		display: none;
	}
}


@media (max-width: 575px) {
	.productCard{
		background-color: white;
		width: 200px;
		height: 320px;
	}

	.imgOfProduct{
		width: 187px;
		height: 158px;
	}

	.nameOfProduct{
		color: #492DBB;
		cursor: pointer;
		height: 35px !important;
		font-size: 18px;
	}

	.fastView{
		display: none;
	}

	.productPrice{
		font-size: 20px;
	}
}


@media (max-width: 420px) {
	.productCard{
		background-color: white;
		width: 160px;
		height: 260px;
	}

	.imgOfProduct{
		width: 149px;
		height: 120px;
	}

	.nameOfProduct{
		color: #492DBB;
		cursor: pointer;
		height: 30px !important;
		font-size: 16px;
	}

	.productPrice{
		font-size: 18px;
	}

	.actions{
		margin-top: 25px;
	}
}
