.divForProductDetail{
	display: flex;
}


.imgsAndImgOfProductDetail{
	display: flex;
}


.imgOfProductDetail{
	width: 536px;
	height: 430px;
	border-radius: 30px;
}


.infoProductDetail{
	min-width: 200px;
	margin-top: -20px;
	margin-left: 40px;
}


.nameProductDetail{
	min-width: 200px;
}

.nameProductDetail h2{
	height: auto;
}

.descriptionProductDetailDesctopFull{
	min-width: 200px;
	margin-top: 20px;
}

.descriptionProductDetailDesctopMin{
	min-width: 200px;
	margin-top: 20px;
	display: none;
}

.productActionsDesctopFull {
  display: block !important;
}

.productActionsDesctopMin {
  display: none !important;
}

@media (max-width: 1440px){
	.descriptionProductDetailDesctopFull{
		display: none;
	}

	.descriptionProductDetailDesctopMin{
		display: block;
	}

	.productActionsDesctopFull {
    display: none !important;
  }

  .productActionsDesctopMin {
    display: block !important;
  }
}


@media (max-width: 1110px) {
	.imgOfProductDetail{
		width: 450px;
		height: 410px;
		border-radius: 30px;
	}
}