.mainImage {
  position: relative;
  display: flex;
  justify-content: center;
}


.returnArrowAndHeart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  z-index: 10;
}


.imgOfProductDetail{
  width: 100%;
  height: 100%;
}


.infoProductDetail{
	min-width: 200px;
	margin-top: -20px;
  margin-left: 4px;
  margin-right: 4px;
}


.nameProductDetail{
  margin-top: 27px;
  margin-bottom: 6px;
	background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 1px 15px 1px 15px;
}


.productName{
  color: #492DBB;
  height: auto;
  font-size: 20px;
  font-weight: 600;
}


.productPrice{
  height: auto;
  font-size: 22px;
  font-weight: 600;
}


.categories{
  background-color: white;
  border-radius: 15px;
  padding: 1px 15px 1px 15px;
  margin-bottom: 6px;
}
