.replyForm {
  width: 100%;
  max-width: 850px;
}


.commentTextArea {
  font-size: 14px;
  padding: 10px;
  width: 100% !important;
  height: 190px;
  resize: none;
  border-radius: 30px;
  border: 1px solid rgb(250, 250, 250);
	background-color: rgb(250, 250, 250);
  min-height: 107px;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box;
  outline: none;
  gap: 1rem;
}

.editorScrollWrapper {
  max-height: 300px;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.commentTextArea:focus{
	border: 1px solid #3F6AC9;
  outline: none;
}


.commentTextArea::-webkit-scrollbar {
  display: none;
}

.answerUsername{
	color: #492DBB;
}


.imageUpload{
	position: absolute;
  margin-top: -40px;
	margin-bottom: 15px;
  margin-left: 15px;
	display: flex;
}


.uploadImage {
	margin-top: -23.5px;
	width: 50px;
	height: 50px;
  cursor: pointer;
}

.imagePreview {
  display: flex;
}


.imageContainer {
  position: relative;
	margin-top: -23.5px;
}


.previewImage {
	margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
	transition: opacity 0.3s ease;
}


.removeImageButton {
  width: 50px;
	height: 50px;
	font-size: x-large;
  position: absolute;
	background: rgba(255, 255, 255, 0.5);
  margin-top: -54px;
	margin-left: 5px;
	border-radius: 10px;
  cursor: pointer;
	visibility: hidden;
}


.imageContainer:hover .removeImageButton {
  opacity: 1;
  visibility: visible;
}


.removeImageIcon{
	position: absolute;
	color: white;
	margin-left: 13.5px;
	margin-top: 13px;
}


.buttons {
  display: flex;
  justify-content: space-between;
}


.button {
	font-size: 15px;
  margin-top: 30px !important;
  width: 132px;
  height: 36px;
  color: white;
  background: linear-gradient(90deg, #5A3DE6 100%, #322280 100%);
  border-radius: 10px;
	padding-top: 7.5px;
}


.button:hover{
	background: linear-gradient(90deg, #593de6d5 0%, #3f6bc9d2 100%);
	border: 1px solid #ffffffb8;
}


.cancelButton{
	font-size: 15px;
  margin-top: 30px;
  width: 132px;
  height: 36px;
  color: white;
  background: #777777;
	border: 1px solid #777777;
  border-radius: 10px;
  border: 1px solid;
	padding-top: 7.5px;
}


.cancelButton:hover {
	background: #999999;
	border: 1px solid #999999;
}


.cancelButtonReview{
	font-size: 17px;
  margin-top: 30px;
  width: 150px;
  height: 40px;
  background: #777777;
  border-radius: 30px;
  border: 1px solid #777777;
	color: rgb(255, 255, 255);
}


.cancelButtonReview:hover {
	background: #999999;
}


.buttonReview{
	font-size: 17px;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border-radius: 30px;
}


@media (max-width: 910px){
  .commentTextArea {
    max-height: 200px;
  }

  .editorScrollWrapper {
    max-height: 150px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}


@media (max-width: 500px){
  .commentTextArea {
    max-height: 220px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .buttons button{
    width: 100%;
  }
}
