.messageItem {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-left: 20px;
	margin-right: 20px;
	box-sizing: border-box;
}


.messageText {
	min-width: 55px;
  background-color: #ddd;
  border-radius: 20px;
  padding: 10px;
  max-width: 100%;
  word-wrap: break-word;
	white-space: normal;
	overflow-wrap: break-word;
	position: relative;
}


.messageImage{
	width: 100%;
	height: 100%;
}


.timeAndReadData{
	display: flex;
	align-items: center;
}


.messageTime{
	color: #8c8c8c;
	font-size: 10px;
}


.readStatusIcon{
	margin-left: 5px;
}


.messageTimeRight {
  text-align: right;
	margin-left: calc(100% - 40px);
	white-space: nowrap;
}


.myMessage {
  justify-content: flex-end;
	text-align: right;
	margin-bottom: 10px;
}


.myMessage .messageText{
  background-color: #5a3de6;
  color: white;
}


.otherMessage {
  justify-content: flex-start;
	margin-bottom: 10px;
}


.otherMessage .messageText {
  background-color: #e2e2e2;
  color: black;
}


.messageRight {
	width: 70%;
  display: flex;
  justify-content: flex-end;
}


.messageLeft {
	width: 70%;
  display: flex;
  justify-content: flex-start;
}
