.review{
	display: flex;
	overflow: hidden;
	width: 100%;
	border-radius: 15px;
	padding: 7px 15px 7px 15px;
}


.logo{
	width: 55px;
	height: 55px;
	position: relative;
}


.divForUserNameReviewCommentAndImages{
	display: flex;
	flex-direction: column;
}


.dataReview{
	margin-top: -15px;
	margin-left: 10px;
	width: 100%;
}


.userNameReview{
	color: #5d3ae9;
}


.dateReview{
	margin-top: -10px;
	color: #989898;
}


.textReview{
	margin-left: -60px;
	margin-top: 20px;
	font-size: 14px;
}


.reviewImagesMobile{
	margin-left: -60px;
	width: calc(100% + 60px);
}


.commentActionsMobile{
	margin-left: -60px;
	display: flex;
	justify-content: space-between;
}


.replyForm{
	margin-left: -60px;
}


.countHeartReview{
	font-size: 18px;
}


.heartReview{
	margin-left: auto;
	margin-top: -80px;
}


.rotate {
  transform: rotate(180deg);
}
