.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
	margin-left: 7%;
  margin-right: 7%;
  margin-top: 3%;
  flex: 1;
	margin-bottom: 80px;
}

.noPadding {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 768px) {
	.mainContent{
		margin-left: 0%;
  	margin-right: 0%;
		margin-bottom: 50px;
	}
}
