.dropdownMenu {
	margin-top: 460px;;
  position: absolute;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  color: black;
  padding-left: 26px;
  padding-right: 26px;
	padding-bottom: 20px;
	height: 500px;
}


.categoriesHeader{
	align-items: center !important;
	display: flex;
}

.nameHeader{
	margin-left: 10px;
	color: #796DE2;
}


.countCategories{
	font-weight: 400;
}


.closeButton{
	margin-bottom: -16.5px;
	cursor: pointer;
}


.countCategories{
	margin-left: 46px;
}


.divForCategories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
	height: 370px;
	overflow-y: auto;
  overflow-x: hidden;
}

.divForCategories::-webkit-scrollbar {
  display: none;
}


.divForCategories p {
	height: max-content;
	padding: 10px;
	cursor: pointer;
}


.divForCategories p.active {
  background-color: #9e93ff;
	border-radius: 30px;
}


.buttonContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}


.resetButton {
	width: 196px;
	font-size: 15px;
	padding: 10px;
	background-color: #796DE2;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}


