header{
	background: linear-gradient(90deg, #796DE2 0%, #3F6AC9 100%);
	color: white;
	max-height: 120px;
	padding-top: 2%;
	max-width: 100%;
}


.mainDivOfHeader{
	display: flex;
	align-items: center;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2%;
}


.logo{
	margin-right: 3rem;
}


.searchBar{
	display: flex;
	justify-content: space-between;
	margin-left: 1rem;
	padding-right: 0.5%;
	padding-left: 0.5%;
	width: 951px;
	height: 61px;
	border-radius: 20px;
	background-color: white;
	align-items: center;
}


.categories{
	display: flex;
	background: rgba(121, 109, 226, 1);
	padding-left: 1.5rem;
	width: 150px;
	border-radius: 16px;
	align-items: center;
}


.categoriesSvg{
	height: 25px;
}


.categoriesText{
	margin-left: 1rem;
}


.searchButton{
	padding: 0.6rem;
	background: rgba(63, 106, 201, 1);
	border-radius: 18px;
}


.personActivities{
	display: flex;
	margin-top: 1rem;
	margin-left: 4.3rem;
}


.svgOfPersonActivities{
	margin-top: -3rem;
}


.divForSvgOfPersonActivities{
	margin-bottom: -80px;
	height: 40px;
	width: 40px;
}


.shoppingCart{
	margin-left: 2rem;
	margin-right: 2.2rem;
	margin-top: -54px;
}


.textOfPersonActivities{
	margin-top: 5rem;
}


.testForShoppingCart{
	margin-top: 86px;
}
