.titleError{
	display: inline-flex;
	flex-wrap: wrap;
}


.numberOfError{
	color: #7761d1;
	font-size: 12px;
	margin-left: 2px;
	white-space: nowrap;
	font-weight: 200;
	position: relative;
  top: -16px;
}


.navigateTextStyles{
	color: #656565;
	cursor: pointer;
}

.navigateTextStyles:hover{
	color: #989898;
}
