.divForAuthForms{
	width: 510px;
	height: 450px;
	margin-left: 29%;
	border-radius: 30px;
	background: rgba(255, 255, 255, 1);
}


.divForEnterForm{
	width: 510px;
	height: 520px;
	margin-left: 29%;
	border-radius: 30px;
	background: rgba(255, 255, 255, 1);
}


.divForRegisterForm{
	height: 745px;
}


.hr{
	color: #989898;
	width: 400px;
	margin-top: 2rem;
}


.textOfForms{
	padding-top: 2rem;
	text-align: center;
}


.divForButtons{
	text-align: center;
}
