.textButton {
  margin-top: 1rem;
  border-radius: 35px;
	font-size: large;
}


.iconButton{
	width: 184px;
	height: 44px;
	border-radius: 35px;
}


.icon{
	width: 30px;
	height: 24px;
}


.color {
	background: linear-gradient(90deg, #5A3DE6 0%, #3F6AC9 100%);
	border: 1px solid #3F6AC9;
	color: white;
}


.color:hover {
	background: linear-gradient(90deg, #593de6d5 0%, #3f6bc9d2 100%);
	border: 1px solid #ffffffb8;
}


.notColor {
	background: rgba(216, 216, 216, 1);
	border: solid 1px rgba(216, 216, 216, 1);
	color: black;
}


.notColor:hover {
	background: rgba(216, 216, 216, 0.829);
	border: 1px solid rgba(216, 216, 216, 0.829);
}


.small {
  width: 230px;
  height: 45px;
}


.medium {
  width: 290px;
  height: 60px;
}


.large {
  width: 400px;
  height: 80px;
}
