.trashCanContainer {
	width: 44px;
  height: 44px;
  background: linear-gradient(90deg, rgba(90, 61, 230, 1) 0%, rgba(63, 106, 201, 1) 100%);
	border-radius: 30px;
}

.trashCanIcon {
	margin-top: 10px;
	margin-left: 9px;
  width: 22px;
  height: 20px;
}
