.chatMessages {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}


.messagesWrapper {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 330px);
}


.messagesWrapper::-webkit-scrollbar {
  display: none;
}


.messageInput {
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 7px;
  padding-top: 7px;
  width: 100%;
  height: 63px;
  display: flex;
  border-top: 1px solid #ddd;
  background-color: #796DE2;
  box-sizing: border-box;
  position: fixed;
  bottom: 100px;
}


.messageInput input {
  margin-left: 14px;
  margin-right: 14px;
  height: 25px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 35px;
}


.addPhoto {
  width: 45px;
}

@media (max-width: 910px) {
  .messageInput{
    bottom: 71px;
  }

  .messagesWrapper {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 100px;
    overflow-y: auto;
    max-height: calc(100vh - 300px);
  }
}
