.input{
	width: 290px;
	height: 60px;
	border-radius: 35px;
	font-size: large;
	background: rgba(244, 245, 245, 1);
	border: 1px solid rgba(244, 245, 245, 1);
	padding-left: 1rem;
}


.input:focus {
  border: 1px solid #3F6AC9;
  outline: none;
}


.inputError {
	width: 290px;
	height: 60px;
	border-radius: 35px;
	font-size: large;
	background: rgba(244, 245, 245, 1);
	border: 1px solid red;
	padding-left: 1rem;
}


.inputWrapper{
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 1.3rem;
	display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}


.placeholder{
	width: 270px;
	position: absolute;
	color: rgba(152, 152, 152, 1);
	margin-top: 5px;
	left: 50%;
  right: 0;
	transform: translateX(-50%) translateX(-5px);
	text-align: left;
}


.errorText{
	width: 280px;
	color: red;
	position: absolute;
	margin-top: 70px;
	text-align: left;
	margin-left: 20px;
}


@media (max-width: 768px) {
	.inputWrapper{
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
	}
}