.orderCardMobile {
  border: 1px solid #ddd;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  border-radius: 20px;
  margin-bottom: 40px;
}


.nameAndStatusMobile{
	display: flex;
	justify-content: space-between;
	text-align: center;
}


.orderCardImagesMobile{
	display: flex;
  flex-wrap: wrap;
	align-items: center;
}


.moreImagesButtonMobile{
	width: max-content;
  color: #989898;
  font-size: 15px;
  cursor: pointer;
	margin-left: -5px;
}


@media (max-width: 910px){
	.orderCardMobile{
		padding-bottom: 10px;
	}
}


@media (max-width: 768px){
	.orderCardMobile{
		margin-left: 10px;
		margin-right: 20px;
		padding-top: 0px;
		padding-left: 10px;
  	padding-right: 10px;
		padding-bottom: 10px;
	}
}


@media (max-width: 600px) {
	.orderDate{
		font-size: 17px;
	}

	.statusMobile{
		margin-top: -35px;
		margin-bottom: 5px;
	}

	.orderCardDetailsMobile{
		margin-top: -3px;
	}
}
