.divForCartSummaryAndButton{
	position: fixed;
}


.divCartSummary{
	position: fixed;
	padding-top: 10px;
	padding-left: 25px;
	margin-left: auto;
	background-color: white;
	border-radius: 30px;
	height: 275px;
	width: 310px;
}


.textOfCartSummary{
	display: flex;
	align-items: center;
}


.itemCount{
	margin-left: 73%;
}


.totalAmount{
	width: 70px;
	color: #492DBB;
	margin-left: 58%;
	text-align: right;
}


.button{
	margin-left: -12.5px;
	margin-top: 13px;
}


.buttonForItems{
	margin-top: 285px;
	margin-left: 15px;
}


@media (max-width: 1240px){
	.divCartSummary{
		width: 231px;
		height: 260px;
	}

	.button{
		font-size: 14px;
	}

	.buttonForItems{
		font-size: 14px;
		margin-top: 270px;
	}

	.itemCount{
		margin-left: 60%;
	}

	.totalAmount{
		min-width: 90px !important;
		color: #492DBB;
		margin-left: 30%;
		text-align: right;
	}
}
