.input{
	width: 316px;
	height: 70px;
	border-radius: 35px;
	font-size: large;
	background: rgba(244, 245, 245, 1);
	border: 1px solid rgba(244, 245, 245, 1);
	padding-left: 1rem;
}

.inputWrapper{
	padding: 0.8rem;
}


.placeholder{
	margin-left: 100px;
	position: absolute;
	color: rgba(152, 152, 152, 1);
}


.errorField{
	color: red;
}

.errorText{
	color: red;
	position: absolute;
	margin-top: 72px;
	margin-left: -300px;
}
