.searchInput {
	font-size: 15px;
	padding: 8px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	flex-grow: 1; /* Занимает всё доступное пространство */
	min-width: 90%;
	margin: 0 15px;
}
