.divOfCartItems{
	padding: 10px;
	margin: 20px;
	min-width: 900px;
	display: flex;
	align-items: center;
}


.imgOfItem{
	width: 135px;
	height: 135px;
	border-radius: 30px;
}


.textOfItem{
	margin-left: 30px;
	color: #492DBB;
	text-align: left;
	min-width: 300px;
	cursor: pointer;
}


.divForTrashCanAndHeart{
	display: flex;
}


.trashCan{
	margin-left: 30px;
	margin-right: 10px;
}


.priceOfItem{
	width: 90px;
	margin-left: 80px;
	text-align: left;
}


.quantityOfItem{
	text-align: right;
	margin-left: 80px;
}


.active{
	background-color: #e1e7ff;
	border-radius: 30px;
}


.activeImg{
	box-shadow: 3px 3px 16px 6px #475ED1;
}


@media (max-width: 1500px) {
	.divOfCartItems{
		min-width: 600px;
	}

	.textOfItem{
		margin-left: 30px;
		color: #492DBB;
		text-align: left;
		min-width: 100%;
		cursor: pointer;
	}

	.priceOfItem{
		margin-left: 50px;
	}

	.quantityOfItem{
		text-align: right;
		margin-left: 50px;
	}
}


@media (max-width: 1240px) {
	.divOfCartItems{
		min-width: 510px;
	}

	.divForTrashCanAndHeart{
		margin-left: -10px;
	}

	.textOfItem{
		margin-left: 20px;
	}

	.priceOfItem{
		margin-left: 25px;
	}

	.quantityOfItem{
		margin-left: 25px;
	}
}
