.chatListContainer {
  max-height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-right: 17px;
  scrollbar-width: none;
}


.chat {
  background-color: #e6e6e6;
  width: 330px !important;
  height: 100px;
  padding-left: 23px;
  padding-right: 23px;
  border: 1px solid #cacaca;
}


.active{
	background: linear-gradient(90deg, #584dbd 0%, #3F6AC9 100%);
	border: 1px solid #3F6AC9;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.headerText{
  font-size: 18px;
}


.chatListContainer {
  max-height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-right: 0px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}


.chatListContainer::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


.chatListContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.chatListContainer::-webkit-scrollbar-track {
  background: transparent;
}


@media (max-width: 500px) {
  .chat {
    width: 180px !important;
    height: 80px;
  }
}
