.mainDivProfileMobile{
	background-color: white;
	border-radius: 31px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 14px;
	padding-bottom: 12px;
	width: auto;
}


.actionsProfile{
	margin: 10px;
}
