.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
	width: 100vw;
  height: 100vh;
	z-index: 9999999;
}


.detailsContainer {
  background: #FFFFFF;
  padding-left: 20px;
	padding-right: 20px;
  border-radius: 8px;
  width: 85%;
	height: 85%;
	max-height: 700px;
  max-width: 500px;
}


.orderDetailHeader{
	height: max-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.cross{
	margin-bottom: 30px;
	margin-right: 20px;
	width: max-content;
	height: max-content;
}


.orderId{
	margin-top: 20px;
}


.totalPriceAndNavigateToChat {
	position: relative;
	display: flex;
	justify-content: space-between;
  height: 77px;
  width: calc(100% + 10px);
  background-color: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 1px;
}


.totalPrice{
	color: #492DBB;
	font-size: large;
	font-weight: 600;
}


.orderButton{
	color: white;
  background: linear-gradient(90deg, #5A3DE6 0%, #3F6AC9 100%);
  font-size: 16px;
  border: none;
  height: 55px;
	width: 55px;
  border-radius: 20px;
}


.orderChatImg{
	margin-left: -2px;
	margin-top: 3px;
}


/* @media (max-width: 510px){
	.detailsContainer {
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 8px;
		width: 80%;
		height: 80%;
	}
} */