.orderCard {
  border: 1px solid #ddd;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  border-radius: 20px;
  margin-bottom: 40px;
}


.orderCard:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}


.orderCardHeader {
  width: auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}


.nameAndStatus{
	display: flex;
	align-items: center;
}


.status{
	margin-top: -5px;
	margin-left: 27px;
}


.sumText {
  font-weight: 400;
}


.orderCardDetails {
  font-size: 15px;
  font-weight: 550;
  margin-bottom: 30px;
}


.divForImgAndActions {
  display: flex;
  justify-content: space-between;
}


.orderCardImages {
  display: flex;
  flex-wrap: wrap;
	align-items: center;
}


.productImageContainer {
  position: relative;
  display: inline-block;
}


.productImg {
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 18px;
  width: 125px;
  height: 110px;
  border-radius: 15px;
}


.hoverText {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 84%;
  border-radius: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}


.productImageContainer:hover .hoverText {
  opacity: 1;
}


.hoverTextP {
  margin-left: 27px;
  margin-top: 50px;
}


.divForActions {
  margin-top: auto;
	margin-bottom: 20px;
}


.orderButton {
  z-index: 90;
  color: white;
  background: linear-gradient(90deg, #5A3DE6 0%, #3F6AC9 100%);
  font-size: 16px;
  border: none;
  height: 55px;
  border-radius: 20px;
}


.orderButtonChat {
  position: absolute;
  margin-left: -73px;
  width: 55px;
}


.orderButtonMore {
  width: 180px;
}


.orderChatImg {
  margin-top: 5px;
	margin-left: -2.5px;
}


.moreImagesContainer {
  text-align: center;
}


.moreImagesButton {
	width: max-content;
  color: #989898;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}
