.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
	z-index: 9999;
}


.detailsContainer {
  background: white;
  padding-left: 20px;
	padding-right: 20px;
  border-radius: 8px;
  width: 80%;
	height: 80%;
  max-width: 500px;
	overflow: hidden;
}


.orderDetailHeader{
	height: max-content;
	display: flex;
	align-items: center;
}


.cross{
	margin-left: 50%;
	margin-bottom: 30px;
	width: max-content;
	height: max-content;
	background-color: red;
}


.orderId{
	margin-top: 40px;
}


