.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
	z-index: 9999;
}


.detailsContainer {
  background: white;
  padding-left: 20px;
	padding-right: 20px;
  border-radius: 8px;
  width: 80%;
	height: 80%;
  max-width: 500px;
	overflow: hidden;
}


.orderId{
	margin-top: -12px;
	margin-bottom: -12px;
}


.orderItems {
	margin-top: -5px;
	height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.orderItem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}


.img{
	width: 120px;
	height: 100px;
	border-radius: 15px;
	margin-right: 10px;
}


.itemData{
	width: 100%;
}
