.chatPage {
  width: 100%;
  height: 100%;
}


.mainContent {
  height: 100%;
  min-height: 0;
  transition: margin 0.3s ease;
}


.orderInfoAndMessages {
  height: 100%;
  min-height: 0;
}


.chatMessages {
  height: 100%;
  min-height: 0;
}


.chatList, .orderInfo {
  position: fixed;
  top: 0;
  bottom: 0;
  width: max-content;
  background: white;
  z-index: 99999;
  transition: transform 0.3s ease;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


.orderInfo{
  min-width: 250px !important;
  max-width: 300px;
}


.chatList {
  left: 0;
  transform: translateX(-100%);
}


.orderInfo {
  right: 0;
  transform: translateX(100%);
  width: 30%;
}


.chatList.menuOpen, .orderInfo.menuOpen {
  transform: translateX(0);
}


.menuToggleButtonLeft, .menuToggleButtonRight {
  position: absolute;
  background: #3f6bc9bb;
  border: none;
  top: calc(100vh - 60vh);
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}


.menuToggleButtonLeft:hover, .menuToggleButtonRight:hover {
  background: #3F6AC9;
}


.menuToggleButtonLeft:disabled,
.menuToggleButtonRight:disabled {
  opacity: 0.5;
  cursor: default;
}


.menuToggleButtonLeft {
  right: -30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.menuToggleButtonRight {
  left: -30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
}


.divEmptyOrder {
  width: 100%;
  justify-content: center;
}
